*{
    margin:0;
    padding: 0;
    border: none;

}
a{
    text-decoration: none;
}
container{
    width:1140px;
    margin: auto;
}
body{
font-family:"DM Sans", sans-serif;
    background: #090808;;
}
#header{
    padding: 30px 0;
    position: fixed;
    width: 100%;
    background: #000000;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
    color: white;
    font-weight: 800px;

}
.header a {
    font-weight: 400px;
    color: white;
    font-size: 17px;
    margin: 0 25px;
    transition:.4s;
}
.header a:hover{
    color: #052154;

}
#hero{
    padding: 50px 0;
}
.hero h1 {
    font-weight: 400;
    padding-bottom: 50px;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;

    color: #FFFFFF;
}
.hero span{
    font-weight: 700;
    font-size: 80px;

    letter-spacing: 3.2px;

    color: #FFFFFF;

}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero p{
    font-weight: 400;
    font-size: 15px;


    color: #FFFFFF;
    padding: 30px 0;

}
.hero-title img{
    margin: 10px;
}
#blocks{
   padding: 80px 0;
}

.blocks-title h1 {
    font-weight: 400;
    font-size: 64px;

    letter-spacing: 2.88px;

    color: #FFFFFF;
}
.blocks-title button{
    font-weight: 400;
    font-size: 17px;

    color: #FFFFFF;

    height: 51px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #118DA8;
    border-radius: 6px;
    transition:.5s;
}
.blocks-title button{
    color: #17272c;
}
.blocks-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}
.blocks{
    padding: 30px 0;
}
.block{
    width: 1600px;
    height: 545px;
    background: #131626;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.block-right h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;
    height: 27px;
    width: 50px;
    background: #191919;
    border-radius: 8px;

}
.block-right h4{
    font-weight: 400;
    font-size: 17px;

    color: #118DA8;
    padding: 30px 0;
}
.block-right h1{
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;

    color: #FFFFFF;
}
.block-right p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;


    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0;
}
.block-right button{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    height: 51px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #118DA8;
    border-radius: 6px;

}
#jacob{
    padding-bottom: 40px;
}
.jacob{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jacob-title h4{
    font-weight: 400;
    font-size: 18px;

    color: #118DA8;
    padding: 20px 0;
}.jacob-title h1{
     font-weight: 400;
     font-size: 65px;
     letter-spacing: 2.88px;

     color: #FFFFFF;
}
.jacob-title p{
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    padding: 30px 0;
}
.jacob-icon{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background: #118DA8;
    display: flex;
    align-items: center;
    justify-content: center
}
.jacob-icon a{
   font-size: 60px;
    color: #FFFFFF;

}
.email{

}
.email-title h4{
    font-weight: 400;
    font-size: 18px;


    color: #118DA8;
}
.email-title h1{
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;

    color: #FFFFFF;
    padding: 10px 0;

}.email{
     width: 1600px;
     height: 387px;
     background: #131626;
     display:flex;
     align-items: center;
     justify-content: space-around;

 }
 .email-right{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }
 .email-right input{
     width: 545px;
     height: 82px;
     background: #191919;
     border: 1px solid #191919;
     border-radius: 6px;
 }
 input::placeholder{
     padding-left: 15px;
     font-weight: 400;
     font-size: 24px;
     color: #FFFFFF;

 }
 .email-right button{
     height: 48px;
     width: 88px;
     left: 0;
     right: 83px;
     background: #118DA8;
     border-radius: 6px;
     transition: 5s;
 }

/*CARDS*/

#cards{
    padding: 60px 0;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
}
.card{
    width: 500px;
    height: 321px;
    left: 0%;
    right: 67.46%;
    top: 0.12px;
    background: #191919;
    border-radius: 32px;
    padding: 10px 0;
    margin: 30px 0;
}
.stars{
    display: flex;
    padding: 20px 0;

}
.star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 30px;
    height: 30px;
    background: gold;
    margin-right: 10px;

}
.card h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 30px;

}
.card p{
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 10px;
}
#footer{
    padding: 50px 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo h1{
    font-size:30px;
    color: white;
    font-weight: 800px;
    padding-bottom: 20px;
}
.footer-logo a{
    color: #FFFFFF;
    font-size: 30px;
    margin: 4px;
    transition:.5s;
}
.footer-logo a:hover{
    color: #052154;
}
.footer-info p{
    color: #FFFFFF;
    padding: 10px 0;
    transition:.5s;
}
.footer-info p:hover{
    color: #052154;
}
.footer-img{
    padding-top: 30px;
}



